/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */


:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #ffffff;
    --new-white: #E8E8E8;


}

span {
    color: var(--new-black);
}

body {
    color: var(--new-black);
    background-color: var(--new-white);
    font-family: Roboto, sans-serif;
}

.banner { 
  color: white;
  background-image: url('../assets/imgs/quizfotofundo.jpg');
  background-size:cover;
}

button {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #362f7a;
    width: 300px;
    line-height: 40px;
    align-self: center;
    margin: 20px;
    transition: all 0.5s;
}
button:hover {
    background-color: #990c19;
}
button:disabled {
    display: none;
}
label:hover {
    color:#990c19;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    background-color: var(--new-white);
    border-radius: 10px;
    width: auto;
    background-color: #044068;
    backdrop-filter: blur(15px); 
}

.border-secondary {
    border-radius: 20px;
    width: 45%;
    padding: 20px;
    background-color: #08609b18;
    backdrop-filter: blur(15px); 
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

div#pontuacaoEJogo {
    display: flex;
    justify-content: center;
    min-height: 67vh;
    flex-direction: column;
    align-items: center;
}

.perguntastamanho {
    font-size: px;
}
